<!DOCTYPE HTML>
<html lang="en">
<head>
<!--
      ___           _               _   _          _
     |_ _|_ __   __| | ___  ___  __| | | |    __ _| |__  ___
      | || '_ \ / _` |/ _ \/ _ \/ _` | | |   / _` | '_ \/ __|
      | || | | | (_| |  __/  __/ (_| | | |__| (_| | |_) \__ \
     |___|_| |_|\__,_|\___|\___|\__,_| |_____\__,_|_.__/|___/

-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="IndeedLabs">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"> <!-- Disable iphone zoom -->

{% block meta %}
{% endblock meta %}

<title>Proctor Groups</title>

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/proctor_default.css">
{% endblock css %}

{% block extracss %}
{% endblock extracss %}


{% block fonts %}
{% endblock fonts %}

</head>

<body>

{% block body %}
{% endblock %}


{% block footer %}
{% endblock %}

{% block js %}
{% endblock js %}

{% block extrajs %}
{% endblock %}

</body>
</html>
